<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
  <title>Vue project</title>
</head>

<body>
  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">

      <div class="product-image">
        <img :src="image" :alt="altText" />
      </div>

      <div class="product-info">
        <h1>{{ product }}</h1>
        <p v-if="inventory > 10">In Stock</p>
        <p v-else-if="inventory >=0 && inventory <= 10">Almost sold out</p>
        <p v-else>Out Stock</p>
        <span v-if="onSale">On Sale!</span>
      </div>

    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="main.js"></script>
</body>

</html>